{% extends 'Admin/pests_list.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="hero">
  <div class="container my-5">
    <div class="i-am-centered">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group my-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
          </div>
        {% endfor %}
        <button type="submit" class="mt-4 btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}