{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Section</title>

  <!-- Box icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!-- Css -->
  <link rel="stylesheet" href="\static\admn\css\admin.css">

</head>

<body>
{% include 'Admin/menu_sidebar.html' %}
  <section class="home">
    <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 5vh;">
                    <div class="row">
                    <!-- Order Statistics -->
                    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4 mx-auto">
                    <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between pb-0">
                        <div class="card-title mb-0">
                            <h5 class="m-0 me-2">Model Statistics</h5>
                            <small class="text-muted">{{training_history_data.data_length}} Total Data</small>
                        </div>
                        <div class="dropdown">
                            <button
                            class="btn p-0"
                            type="button"
                            id="orederStatistics"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            >
                            <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            
                        </div>
                        </div>
                        <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-column align-items-center gap-1">
                            <h2 class="mb-2">{{training_history_data.num_classes}}</h2>
                            <span>Total Classes</span>
                            </div>
                            <div id="orderStatisticsChart"></div>
                        </div>
                        <ul class="p-0 m-0">
                            <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-primary"
                                ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M2 20h20v2H2zM4 3v14a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1zm2 1h3v12H6zM13 17a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-5a1 1 0 0 0-1 1zm2-9h3v8h-3z"></path></svg></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                <h6 class="mb-0">mAP 50%</h6>
                                <small class="text-muted">(mean Average Precision at 50%):</small>
                                </div>
                                <div class="user-progress">
                                <small class="fw-semibold">{{training_history_data.training_accuracy}}</small>
                                </div>
                            </div>
                            </li>
                            <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-success"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M20 7a1 1 0 0 0-1-1h-5a1 1 0 0 0-1 1v4h-2V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v6H2v2h2v6a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-6h2v4a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-4h2v-2h-2zM9 18H6V6h3zm9-2h-3V8h3z"></path></svg></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                <h6 class="mb-0">mAP 50%-95%</h6>
                                <small class="text-muted">(mean Average Precision between 50% and 95%):</small>
                                </div>
                                <div class="user-progress">
                                <small class="fw-semibold">{{training_history_data.validation_accuracy}}</small>
                                </div>
                            </div>
                            </li>
                            <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-info"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 13a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm2.75-7.17A5 5 0 0 0 13 7.1v-3a7.94 7.94 0 0 1 3.9 1.62zM11 7.1a5 5 0 0 0-1.75.73L7.1 5.69A7.94 7.94 0 0 1 11 4.07zM7.83 9.25A5 5 0 0 0 7.1 11h-3a7.94 7.94 0 0 1 1.59-3.9zM7.1 13a5 5 0 0 0 .73 1.75L5.69 16.9A7.94 7.94 0 0 1 4.07 13zm2.15 3.17a5 5 0 0 0 1.75.73v3a7.94 7.94 0 0 1-3.9-1.62zm3.75.73a5 5 0 0 0 1.75-.73l2.15 2.14a7.94 7.94 0 0 1-3.9 1.62zm3.17-2.15A5 5 0 0 0 16.9 13h3a7.94 7.94 0 0 1-1.62 3.9zM16.9 11a5 5 0 0 0-.73-1.75l2.14-2.15a7.94 7.94 0 0 1 1.62 3.9z"></path></svg></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                <h6 class="mb-0">Classes</h6>
                                <small class="text-muted">Number of Classes Supported</small>
                                </div>
                                <div class="user-progress">
                                <small class="fw-semibold">{{training_history_data.num_classes}}</small>
                                </div>
                            </div>
                            </li>
                            <li class="d-flex">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-secondary"
                                ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M17.895 3.553A1.001 1.001 0 0 0 17 3H7c-.379 0-.725.214-.895.553l-4 8a1 1 0 0 0 0 .895l4 8c.17.338.516.552.895.552h10c.379 0 .725-.214.895-.553l4-8a1 1 0 0 0 0-.895l-4-7.999zM19.382 11h-7.764l-3-6h7.764l3 6zM4.118 12 7 6.236 9.882 12 7 17.764 4.118 12zm12.264 7H8.618l3-6h7.764l-3 6z"></path></svg></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                <h6 class="mb-0">Data Length</h6>
                                <small class="text-muted">Number of Images Used</small>
                                </div>
                                <div class="user-progress">
                                <small class="fw-semibold">{{training_history_data.data_length}}</small>
                                </div>
                            </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
  <div class="col-lg-6 mx-auto" style="margin: 5vh;">
                <div class="card">
                    <form id="Uploadform" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 class="card-header">File input</h5>
                    <div class="card-body">
                      <div class="mb-3">
                        <label for="formFile" class="form-label">Model File</label>
                        <input name="model" class="form-control" type="file" accept=".pt, .yaml,"  id="formFile">
                        <label for="accuracy" class="form-label">mAP 50%</label>
                        <input name="training_accuracy" class="form-control" type="text" id="accuracy" placeholder="eg. 0.4">
                        <label for="val_accuracy" class="form-label">mAP 50%-95%</label>
                        <input name="validation_accuracy" class="form-control" type="text" id="val_accuracy" placeholder="eg. 0.6">
                        <label for="val_loss" class="form-label">Box Loss</label>
                        <input name="validation_loss" class="form-control" type="text" id="val_loss" placeholder="eg. 1.02">
                        <label for="classes" class="form-label">Classes Amount</label>
                        <input name="classes" class="form-control" type="text" id="classes" placeholder="eg. 30">
                        <label for="class_length" class="form-label">Class Length/Image Length</label>
                        <input name="class_length" class="form-control" type="text" id="class_length" placeholder="eg. 500">
                        <button type="submit" class="btn rounded-pill btn-success mt-3">Upload</button>
                      </div>
                      </form>
                        <div class="progress loadingOverlay" style="display: none;">
                            <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="{{progress}}" aria-valuemin="{{progress}}" aria-valuemax="100">
                                {{progress}}%
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
                  </div>
            </div>

  </section>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#Uploadform').on('submit', function(event) {
            event.preventDefault();

            var formData = new FormData(this);
            $('.loadingOverlay').show();
            $.ajax({
                    xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function(evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = (evt.loaded / evt.total) * 100;
                            $(".progress-bar").width(percentComplete + '%');
                            $(".progress-bar").attr('aria-valuenow', percentComplete);
                            $(".progress-bar").text(percentComplete.toFixed(2) + '%');
                        }
                    }, false);
                    return xhr;
                },
                type: 'POST',
                url: '{% url "model_upload" %}',  // Replace with the actual URL for your view
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function() {
                    $('.loadingOverlay').show();
                },
                success: function(data) {
                    $('.loadingOverlay').hide();
                    alert(data.message);
                    if (data.progress) {
                    // Update the progress bar
                    $(".progress-bar").width(data.progress + '%');
                    $(".progress-bar").attr('aria-valuenow', data.progress);
                    $(".progress-bar").text(data.progress.toFixed(2) + '%');
                }

                // Check if the upload is complete (progress is 100)
                if (data.progress === 100) {
                    // Redirect to the specified URL
                    window.location.href = '{% url "model_upload" %}';
                }
                },
                error: function(error) {
                    $('.loadingOverlay').hide();
                    alert('Error uploading files');
                },
                complete: function() {
                    // This will be called after success or error
                }
            });
        });
    });
    </script>
  <!-- Jquery JS-->
  <script src="\static\admn\vendor/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="\static\admn\vendor/bootstrap-4.1/popper.min.js"></script>
  <script src="\static\admn\vendor/bootstrap-4.1/bootstrap.min.js"></script>
  <!-- SWEETALERT -->
  <script src="\static\admn\vendor/sweetalert.min.js"></script>

</body>

</html>