<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Pestgaurd</title>

  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="css/fontAwesome.css" />
  <link rel="stylesheet" href="css/hero-slider.css" />
  <link rel="stylesheet" href="css/owl-carousel.css" />
  <link rel="stylesheet" href="css/style.css" />

  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
  <!-- Header -->
  <?php
  include('header.php');
  ?>



  <main>
    <?php
    require('./dbconnect/connection.php');
    if (isset($_GET['id'])) {
      $id = $_GET['id'];
      $query = mysqli_query($con, "SELECT * FROM pest WHERE pest_id='$id'");
      $row = mysqli_fetch_assoc($query);
    ?>
      <section class="featured-places">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div>
                <img src="upload_img/<?php echo $row['pest_img']; ?>" alt="" class="img-responsive wc-image" style="width: 500px; height: 350px;" />
              </div>
              <br />
            </div>

            <div class="col-md-6 col-xs-12">
              <h2><strong class="text-primary">
                  <?php echo $row['pest_name']; ?>
                </strong></h2>

              <h2>
                <small>
                  <!-- <i class="fa fa-map-marker"></i>KADALASAN ASA MAKITA -->
                </small>
              </h2>

              <br />

              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <div class="form-group">
                    <img src="upload_img/<?php echo $row['pest_img1']; ?>" alt="" class="img-responsive" style="width: 200px; height: 200px;" />
                  </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <div class="form-group">
                    <img src="upload_img/<?php echo $row['pest_img2']; ?>" alt="" class="img-responsive" style="width: 200px; height: 200px;" />
                  </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <div class="form-group">
                    <img src="upload_img/<?php echo $row['pest_img3']; ?>" alt="" class="img-responsive" style="width: 200px; height: 200px;" />
                  </div>
                </div>


              </div>
            </div>
          </div>

          <form action="#" method="POST" class="form">
            <div class="accordions">
              <ul class="accordion">
                <li>
                  <a class="accordion-trigger">Description</a>

                  <div class="accordion-content">
                    <p>
                      <?php echo $row['pest_description']; ?>
                    </p>
                  </div>
                </li>
                <li>
                  <a class="accordion-trigger">Agricultural Threat</a>
                  <div class="accordion-content">
                    <ul class="list-group list-group-no-border">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-2 col-sm-3">
                            <p class="pjVpProductPolicyTitle">
                              <strong>Target</strong>
                            </p>
                          </div>
                          <div class="col-md-10 col-sm-9">
                            <ul style="list-style-type: disc;">
                              <?php
                              $pestTargets = explode("\n", $row['pest_target']);
                              foreach ($pestTargets as $target) {
                                $formattedTarget = nl2br($target);
                                echo '<li>' . $formattedTarget . '</li>';
                              }
                              ?>
                            </ul>

                          </div>

                        </div>
                      </li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a class="accordion-trigger">Management</a>
                  <div class="accordion-content">
                    <ul class="list-group list-group-no-border">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-2 col-sm-3">
                            <p class="pjVpProductPolicyTitle">
                              <strong>Prevention</strong>
                            </p>
                          </div>
                          <div class="col-md-10 col-sm-9">
                            <p>
                              <?php echo $row['pest_prevention']; ?>
                            </p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a class="accordion-trigger">Map</a>
                  <div class="accordion-content">
                    <iframe src="https://www.google.com/maps/embed?<?php echo $row['pest_map']; ?>" width="100%" height="400" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
                </li>


                <li>
                  <a class="accordion-trigger">Feedback</a>

                  <div class="accordion-content">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-sm-6">
                            <fieldset>
                              <input name="name" type="text" class="form-control" id="name" placeholder="Name" required="" />
                            </fieldset>
                          </div>

                          <div class="col-sm-6">
                            <fieldset>
                              <input name="email" type="email" class="form-control" id="email" placeholder="Email" required="" />
                            </fieldset>
                          </div>

                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6" class="form-control" id="message" placeholder="Notes" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <div class="blue-button">
                              <a href="#">Send Comment</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <?php
                      $query = mysqli_query($con, "select * from contact");
                      while ($row = mysqli_fetch_assoc($query)) {

                      ?>
                        <div class="col-lg-4">
                          <p>
                            <span>Name</span>

                            <br />

                            <strong>Pest Guard </strong>
                          </p>

                          <p>
                            <span>Phone</span>

                            <br />

                            <strong>
                              <a href="#">
                                <?php echo $row['contact_number']; ?>
                              </a>
                            </strong>
                          </p>

                          <p>

                          <p>
                            <span>Email</span>

                            <br />

                            <strong>
                              <a href="mailto:pestguard@gmail.com">
                                <?php echo $row['contact_email']; ?>
                              </a>
                            </strong>
                          </p>
                        </div>

                      <?php
                      }
                      ?>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- / accordion -->
            </div>
          </form>
        </div>
      </section>
    <?php } ?>
  </main>

  <?php
  include('footer.php');
  ?>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
  <script>
    window.jQuery ||
      document.write(
        '<script src="js/vendor/jquery-1.11.2.min.js"><\/script>'
      );
  </script>

  <script src="js/vendor/bootstrap.min.js"></script>

  <script src="js/datepicker.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
</body>

</html>